@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    scroll-behavior: smooth;
}

/* Navbar Start */
header {
    background-color: #8C89D8;;
    padding: 15px;
    position: fixed;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: white;
    border-radius: 2px;
    padding: 0 5px;
    color: #8C89D8;;
    text-decoration: none;
    font-weight: bold;
}

nav .logo{
    font-size: 1.5em;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

nav ul li {
    list-style-type: none;
}

/* Hamburger Menu */

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    right: 1px;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger Menu Aniomation */
.menu-toggle  span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle  span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-2px, -2px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
}


.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(0, -1px);
}

/* Home */
.content {
    background: url(/assets/image/library-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.content h1 {
    font-weight: bold;
    font-size: 3em;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 2em;
    color: #29292E;
}

p {
    margin: 0.5vw 5vw;
    color: #29292E;
}

#goals {
    display: flex;  
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    margin: 3vw;
    height: 100vh;
}

.goals-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Profile */

#profile {
    display: flex;  
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.profile-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
}

/* Button Whatsapp */

.links {
    margin-top: 3vw;
    height: 3vw ;
    width: 10vw;
    background: #29292E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.links a{
    color: white;
    text-decoration: none;
}

.links a:hover{
    color: white;
    font-weight: bolder;
}

/* Image Card */

.image-card img{
    width: 500px;
    border-radius: 25px;
    margin: 3vh;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.5);
}

/* Footer start */

footer {
    background: #29292E;
}

.footrow {
    margin: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5;
}

.footcol {
    width: 25%;
}

.footcol p{
    margin: 1vw 0;
    color: white;
}

.footcol h3{
    color: white;
    margin-top: 2vw;
    box-shadow: 1px 1px 1px 1px rgba(37, 37, 37, 0.25);
    border-radius: 10px;
}

.footcol a{
    color: white;
    text-decoration: none;
}

.footcol a:hover{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.footrow ul {
    margin-top: 1vw;
    list-style-type: none;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright p{
    color: white;
    font-weight: bold;
}

/* Footer end */

/* Resposive mobile */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    nav ul {
        margin-top: 10%;
        position: absolute;
        right: 0;
        top: 0;
        width: 100vw;
        height: 50vh;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        z-index: -11;
        background-color: #8C89D8;
        transform: translateX(0);
        transition: all 1s;
    }

    nav ul.slide {
        transform: translate(100%);
    }

    #goals {
        height: 100%;  
    }

    .goals-box {
        display: flex;
        flex-direction: column;
    }

    .goals-box p {
        margin: 1vw;
    }

    #profile {
        height: 100%;
    }
    .profile-box {
        display: flex;
        flex-direction: column;
    }

    .profile-box h2 {
        margin: 5vw;
    }

    .links {
        width: 90%;
        height: 50px;
        margin: 5vw;    
    }

    .links a {
        text-align: center;
    }

    .image-card img{
        width: 300px;
        border-radius: 25px;
        margin: 3vh;
        box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.5);
    }
    
    .title {
        margin-top: 100px;
    }

    .footrow {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footcol {
        width: 100%;
    }
}
